# Built files
target/
build/

# Maven-specific files
!.mvn/wrapper/maven-wrapper.jar

# Compiled source code
*.class

# IDE-specific files
.idea/
*.iml

# Logs and temporary files
*.log
*.tmp

# macOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db
